@{
    ViewBag.Title = "Movie";
}

<link href="~/Content/gridview.css" rel="stylesheet" />

<!-- a Section -->
<section class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="page-header1">
                &nbsp;ALL THE MOVIES &nbsp;@Session["cinemaLocation"]
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#menu1"><span class="medium heavy">Now Showing</span></a></li>
                <li><a data-toggle="tab" href="#menu2"><span class="medium heavy">Movies Coming Soon</span></a></li>
            </ul>

            <div class="tab-content" style="background-color: #ffffff">
                <div id="menu1" class="tab-pane fade in active">
                    <div class="well well-sm">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group">
                                <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>List</a>
                                <a href="#" id="grid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
                            </div>
                            <div class="btn-group col-md-3">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    <span>&nbsp;Cinema Location</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href='@Url.Action("Movie", "Home", new { cinemaId = 1 })'>St Kilda</a></li>
                                    <li><a href='@Url.Action("Movie", "Home", new { cinemaId = 2 })'>Fitzroy</a></li>
                                    <li><a href='@Url.Action("Movie", "Home", new { cinemaId = 3 })'>Melbourne CBD</a></li>
                                    <li><a href='@Url.Action("Movie", "Home", new { cinemaId = 4 })'>Sunshine</a></li>
                                    <li><a href='@Url.Action("Movie", "Home", new { cinemaId = 5 })'>Lilydale</a></li>
                                </ul>
                            </div>
                            @using (Html.BeginForm("Movie", "Home", FormMethod.Post))
                            { 
                                <div class="input-group col-md-4">
                                    <input type="text" class="form-control" placeholder="Search for Movie Title" id="movieTitle" name="movieTitle">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Search</button>
                                    </span>
                                </div>
                            }
                            <!-- /input-group -->
                        </div>
                        <!-- /toolbar-toolbar -->
                    </div>
                    <div id="products" class="row list-group">
                        <!-- Ensure your ViewBag property isn't null as List<s3357335_a2_client.Movie>)-->
                        @if (ViewBag.movies != null)
                        {
                            <!-- Iterate through each value in the Items collection of your ViewBag -->
                            foreach (var movie in ViewBag.movies)
                            {
                            <div class="item  col-xs-3">
                                <div class="thumbnail">
                                    <a href='@Url.Action("ViewSession", "Booking", new { movieId = movie.MovieID })'>
                                        <img class="group list-group-image" src="@movie.ImageUrl" alt="" />
                                    </a>
                                    <div class="caption hidden">
                                        <h4 class="group inner list-group-item-heading" style="color: #ff6a00">@movie.Title</h4>
                                        <a class="btn btn-primary" style="float: right" href='@Url.Action("ViewSession", "Booking", new { movieId = movie.MovieID })'>More Info</a>
                                        <div class="row">
                                            <p class="group inner list-group-item-text">
                                                About: &nbsp;@movie.LongDescription
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>
                <!-- /.menu1 -->

                <div id="menu2" class="tab-pane fade">
                    <div class="well well-sm">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group">
                                <a href="#" id="list2" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"></span>List</a>
                                <a href="#" id="grid2" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th"></span>Grid</a>
                            </div>
                        </div>
                    </div>
                    <div id="products2" class="row list-group">
                        <!-- Ensure your ViewBag property isn't null as List<s3357335_a2_client.MovieComingSoon>)-->
                        @if (ViewBag.comingMovies != null)
                        {
                            <!-- Iterate through each value in the Items collection of your ViewBag -->
                            foreach (var comingMovie in ViewBag.comingMovies)
                            {
                            <div class="item  col-xs-3">
                                <div class="thumbnail">
                                    <img class="group list-group-image" src="@comingMovie.ImageUrl" alt="" />
                                    <div class="caption hidden">
                                        <h4 class="group inner list-group-item-heading" style="color: #ff6a00">@comingMovie.Title</h4>
                                        <p class="group inner list-group-item-text" style="color: #0094ff">
                                            ReleaseTime:&nbsp;@comingMovie.RealeseTime
                                        </p>
                                        <div class="row">
                                            <p class="group inner list-group-item-text">
                                                About: &nbsp;@comingMovie.LongDescription
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>
                <!-- /.menu2 -->
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); $('#products .item .caption').removeClass('hidden'); });
        $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item .caption').addClass('hidden'); });
        $('#list2').click(function (event) { event.preventDefault(); $('#products2 .item').addClass('list-group-item'); $('#products2 .item .caption').removeClass('hidden'); });
        $('#grid2').click(function (event) { event.preventDefault(); $('#products2 .item').removeClass('list-group-item'); $('#products2 .item .caption').addClass('hidden'); });
    });
</script>
